{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pres</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
  


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Pres.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
          <ul class="navbar-nav mr-auto">
            <!-- <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form> -->
          </ul>
          <ul class="form-inline navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-laptop-medical"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-globe-americas"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-smile"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-exclamation-circle"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-user-circle"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
              </li>
            </ul>
          </div>
      </div>
    </nav>











  	{% block content %}
  	{% endblock %}












</body>


<script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>
<script src="http://h3e.com.br/dist/js/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>

</html>
